footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $purple;
  padding: 1rem 0;

  p {
    font-size: $font-size-xxs;
    color: $white;
    margin: 0;
    text-align: center;
  }
}
