$black: #000000;
$white: #ffffff;
$purple: #37003c;

$font-size-xl: 4rem;
$font-size-lg: 2.75rem;
$font-size-md: 2rem;
$font-size-sm: 1.5rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.875rem;

$body-font: "Ubuntu", sans-serif;
$body-font-size: $font-size-xs;
$body-color: $white;
$body-text: $black;
